
*.js


App/node_modules/
App/node_modules/
App/platforms/
App/package-lock.json
App/src/app/services/config.ts

file-server/node_modules/
file-server/package-lock.json
file-server/database/localstorage.sqlite


.DS_Store
Thumbs.db
.vscode/
$RECYCLE.BIN/

