.details-title{
    font-size: 20;
    text-align: center;
    color: #0099AA;
    background-color: #2f4f4f;
}
.label-file-list{    
    border-color: #2f4f4f;
    color: #FFFFFF;
    border-bottom-width: 1;
}
.details-storage-label{

}